.activity-list {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  justify-content: center;
  margin: 0;
  padding: 1em;
}

.activity-list__listitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  border: dotted var(--color-wine);
  background-color: var(--color-rosegold);
  width: 95%;
  padding-inline: 0.5em;
}

.activity-list__listitem--name {
  background-color: transparent;
  color: var(--color-wine);
  text-align: center;
  align-self: center;
}

.activity-list__listitem--delete-button {
  font-size: 2em;
  background-color: transparent;
  border: none;
}
