:root {
  /* FADED ROSE COLOR PALETTE */
  --color-white: #dfdfde;
  --color-wine: #a2798f;
  --color-rosegold: #d7c6cf;
  --color-teal: #8caba8;
  --color-lightrose: #ebdada;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
